@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #191c20;
}

body {
    background-color: var(--bg-color);
}

@layer base {
    html {
        color-scheme: dark !important;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
